{% extends 'style.html' %}
{% block content %}
<div class="row mb-6">
  <div class="col-sm-12 col-lg-4 mb-4">
      <div class="card">
          <p class="h5 card-header bg-primary text-white">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gear-wide-connected" fill="currentColor">
              <path fill-rule="evenodd" d="M8.932.727c-.243-.97-1.62-.97-1.864 0l-.071.286a.96.96 0 0 1-1.622.434l-.205-.211c-.695-.719-1.888-.03-1.613.931l.08.284a.96.96 0 0 1-1.186 1.187l-.284-.081c-.96-.275-1.65.918-.931 1.613l.211.205a.96.96 0 0 1-.434 1.622l-.286.071c-.97.243-.97 1.62 0 1.864l.286.071a.96.96 0 0 1 .434 1.622l-.211.205c-.719.695-.03 1.888.931 1.613l.284-.08a.96.96 0 0 1 1.187 1.187l-.081.283c-.275.96.918 1.65 1.613.931l.205-.211a.96.96 0 0 1 1.622.434l.071.286c.243.97 1.62.97 1.864 0l.071-.286a.96.96 0 0 1 1.622-.434l.205.211c.695.719 1.888.03 1.613-.931l-.08-.284a.96.96 0 0 1 1.187-1.187l.283.081c.96.275 1.65-.918.931-1.613l-.211-.205a.96.96 0 0 1 .434-1.622l.286-.071c.97-.243.97-1.62 0-1.864l-.286-.071a.96.96 0 0 1-.434-1.622l.211-.205c.719-.695.03-1.888-.931-1.613l-.284.08a.96.96 0 0 1-1.187-1.186l.081-.284c.275-.96-.918-1.65-1.613-.931l-.205.211a.96.96 0 0 1-1.622-.434L8.932.727zM8 12.997a4.998 4.998 0 1 0 0-9.995 4.998 4.998 0 0 0 0 9.996z"/>
              <path fill-rule="evenodd" d="M7.375 8L4.602 4.302l.8-.6L8.25 7.5h4.748v1H8.25L5.4 12.298l-.8-.6L7.376 8z"/>
            </svg>
            Difficulty
          </p>
          <div class="card-body bg-light">
            <h6 class="card-title" style="text-align: center;"><b>{{ diff }}</b></h6>
          </div>
      </div>
  </div>
  <div class="col-sm-12 col-lg-4 mb-4">
      <div class="card">
          <p class="h5 card-header bg-primary text-white">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box" fill="currentColor">
              <path fill-rule="evenodd" d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
            </svg>
            Blocks
          </p>
          <div class="card-body bg-light">
            <h6 class="card-title" style="text-align: center;"><b>{{ bheight }}</b></h6>
          </div>
      </div>
  </div>
  <div class="col-sm-12 col-lg-4 mb-4">
      <div class="card">
          <p class="h5 card-header bg-primary text-white">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bar-chart-line-fill" fill="currentColor">
              <path fill-rule="evenodd" d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z"/>
            </svg>
            Hashrate
          </p>
          <div class="card-body bg-light">
            <h6 class="card-title" style="text-align: center;"><b>0</b></h6>
          </div>
      </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-12">
    <div class="card">
        <p class="h5 card-header bg-primary text-white">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor">
            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
          Burning Address / Chain Seed
        </p>
        <div class="card-body bg-light">
          <p class="card-title"><b>Burning Address:</b> <a href="{{ url_for('_adress',addressid=chain_burn_address) }}">{{ chain_burn_address }}</a></p>
          <p class="card-title"><b>Chain Seed (Base58):</b> {{ chain_seed }}</p>
        </div>

    </div>
</div>
</div>
<div class="card">
  <p class="h5 card-header bg-primary text-white">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-link-45deg" fill="currentColor">
      <path d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
      <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z"/>
    </svg>
    Latest blocks
  </p>
  <div class="card-body bg-light">
      <div class="list-group">
          {% for i in lblocks %}
          <a href="{{ url_for('_block_page',bid=i.getBlockHeight()) }}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-seam" fill="currentColor">
                  <path fill-rule="evenodd" d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                </svg>
                <b>Block:</b>
                <span class="text-primary">{{ i.getBlockHeight() }}</span></h5>
              <small><b>Transactions:</b> <span class="text-primary">{{ i.getTxCount() }}</span></small>
            </div>
            <p class="mb-1"><b>Hash:</b> <span class="text-primary">{{ i.getBlockHash() }}</span></p>
            <small><b>Timestamp:</b> <span class="text-primary">{{ i.getTimestamp() }} UTC+0</span></small>
          </a>
          {% endfor %}
      </div>
  </div>
</div>
{% endblock %}