{% extends 'style.html' %}
{% block content %}

<div class="row">
  <div class="col-sm">
    <div class="card">
      <h5 class="card-header bg-primary text-white">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-wallet" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z"/>
        </svg>
        Emission
      </h5>
      <div class="card-body bg-light">
        <div class="container">
          <div class="row">
            {% for i in coins %}
            <div class="col-sm-12 col-lg-6 mb-1 mt-1">
              <div class="card">
                <div class="card-body row">
                  <p class="h5 card-title col-10"><b>{{ i.getName() }}&nbsp;({{ i.getSymbol() }})</b></p>
                  
                  {% if i.totalSupply() != -1 %}
                  <p class="card-text text-dark col-12"><b>Max Supply:</b>&nbsp;{{ i.totalSupply(True) }}</p>
                  {% else %}
                  <p class="card-text text-dark col-12"><b>Max Supply:</b>&nbsp;Unlimited</p>
                  {% endif %}
                  <p class="card-text text-dark col-12"><b>Circulating Supply:</b>&nbsp;{{ i.getCirculatingSupplyByBlock(True) }}</p>
                  <p class="card-subtitle mb-2 text-muted col-12" style="font-size: 12px;"><b>Coin ID:</b>&nbsp;{{ i.getCoinID() }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}